<mat-card>
  <mat-card-content fxLayout="column">


    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Identificaton
          </mat-panel-title>
        </mat-expansion-panel-header>


        <div fxLayout="column" fxLayoutAlign="space-between start">
          <mat-form-field>
            <input matInput placeholder="Rock Name" [ngModel]="spaceRock.name" (ngModelChange)="onNameUpdated($event)">
          </mat-form-field>
         
          <app-color-picker [heading]="'Rock Color'" [color]="spaceRock.color" (event)="onColorUpdated($event)"></app-color-picker>
     
        </div>
        <div fxLayout="row">
          <h4 fxFlex="40">Size</h4>
          <mat-slider min="1" max="3" step="0.05" value="1" [value]="spaceRock.size" (change)="onSizeUpdated($event)"
            fxFlex></mat-slider>
        </div>


        <div fxLayout="row" fxLayoutAlign="start start">
          <h4 fxFlex="40">Speed</h4>
          <mat-slider min="1" max="50" step="0.5" value="25" [value]="spaceRock.speed" (change)="onSpeedUpdated($event)"
            fxFlex></mat-slider>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

    <h4>Joystick</h4>
    <app-joystick #rockPosition (updated)="onPositionUpdated($event)"></app-joystick>
  </mat-card-content>
</mat-card>